h1 {
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 64px;
  color: #D64045
}

.pageHeader {
  text-align: center;
  padding: 2em;
  background-color: lightgray;
}

#headerLogo img {
  width: 5em;
  height: auto;
  margin: 1em;
}
