<div class="vehicleFilters">
  <form [formGroup]="filterForm" (ngSubmit)="emitResults()">

    <div class="form-group">
      <label for="manufacturer" class="form-label mt-4">Manufacturer:</label>
      <select class="form-select" id="manufacturer" formControlName="manufacturer" (change)="findManufacturer()">
        <option class="manufacturerOption" *ngFor="let manufacturer of initializeManufacturers()" [ngValue]="manufacturer">{{ manufacturer }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="vehicleModel" class="form-label mt-4">Model:</label>
      <select class="form-select" id="vehicleModel" formControlName="model">
        <option class="modelOption" *ngFor="let model of getModels()" [ngValue]="model">{{ model }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="year" class="form-label mt-4">Year:</label>
      <select class="form-select" id="year" formControlName="year">
        <option class="yearOption" *ngFor="let year of getYears()"  [ngValue]="year">{{ year }}</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Filter" />
    </div>
  </form>
</div>
