<div class="container">
  <app-header [title]="title"></app-header>
  <app-nav></app-nav>
  <app-vehicle-search></app-vehicle-search>

  <div class="row">
    <div class="col-8">
      <app-vehicle-list [vehicles]="results"></app-vehicle-list>
    </div>
    <div class="col-3">
      <app-vehicle-filter-form [vehicles]="vehicles" [results]="vehicles" (filterEvent)="handleFilterResults($event)"></app-vehicle-filter-form>
    </div>
  </div>

</div>

<ng-template #allVehicles>
  <div class="col-8">
    <app-vehicle-list [vehicles]="vehicles"></app-vehicle-list>
  </div>
</ng-template>
